name: Build Test

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            runner: macos-14
          - target: aarch64-unknown-linux-musl
            runner: ubuntu-22.04
            container: ghcr.io/cargo-bins/cargo-quickinstall/cargo-quickinstall:aarch64-unknown-linux-musl
          - target: x86_64-unknown-linux-musl
            runner: ubuntu-22.04
            container: ghcr.io/cargo-bins/cargo-quickinstall/cargo-quickinstall:x86_64-unknown-linux-musl
    runs-on: ${{ matrix.runner }}
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        if: ${{ matrix.container }}
        run: |
          if ! command -v cargo > /dev/null 2>&1; then
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          fi
      - name: Add target
        run: rustup target add ${{ matrix.target }}
      - name: Build
        run: cargo build --release --target ${{ matrix.target }}
